* {
  box-sizing: border-box;
 }

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");
body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

nav {
  height: 10em;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 }

.searchbar-container {
  margin: 2em;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbar{
  width: 50em ;
  margin-right: 0.5em;
  padding: 0.5em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar:focus {
  outline: none
}

h3 {
  text-align:left;
  margin: 0.5em;
}

.pokedex-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 1em;
}

.pokemon-card {
  display: flex;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.pokemon-img {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.pokemon-img img {
  margin-top: 1.5em;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em

}

.card-top h3 {
  text-transform: capitalize;
}

.pokemon-type{
  display: flex;
  margin-left: 0.5em ;
  text-transform: capitalize;
  font-size: 110%;
}

.types {
  padding: 0 0.5em;
}

.heart {
  font-size: 130%;
  display: flex;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.info {
  display: flex;
  justify-content: end; 
}

.info a {
  font-size: 90%;
}

.fav {
  font-size: 130%;
  display: flex;
  justify-content: center;
  margin-left: 88%;
  margin-right: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.fav a {
  text-decoration: none;
  color: black;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0.5em
}

.pagination button {
  margin: 0.5em;
}